.bike-models{
    width: 100%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #00000015;
    transition: 0.3s;
    animation: fadeIn 1s;
    padding: 1vw;
background-color: white;
color: black;
}

.bike-models-img{
width: 100%;
border-radius: 15px 15px 0px 0px;
}

.bike-models-info{
    padding: 20px;
}

.bike-model-name-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.bike-model-name-rating p{
    font-size: 20px;
    font-weight: 500;
}

.bike-model-name-rating img{
    width: 70px;
}

.bike-model desc{
color: #676767;
font-size: 12px;
}
.bike-model-price{
    color: tomato;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 0px;
}

.bike-counter{
    display: flex;
}

.bike-models-image{
    height: 9vw;
}

.add, .addition, .subtract {
    /* border:  2px solid; */
    height:2vw;
    margin: 5px 0;
    padding: 5px;
}

.storeCount{
    height: 1.8vw;
    width: 1.8vw;
    margin-left: 6.5vw;
    margin-top: 2%;
    border:  2px solid tomato;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    padding: 7px;
    /* font-size: 1.1vw; */
}
